footer{
	background-color: $gray;
	margin-top: 75px;
	padding: 20px;
		.copyright {
			margin-left: 0px;
			text-align: left;
		}
		.contractor {
			margin-right: 0px;
			text-align: right;
		}
		p {
			color: #fff;
		}
}

.footer-contact {
	margin-top: 150px;
}